<div id="home" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
    <app-home></app-home>
</div>

<div id="aboutMe" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
    <app-about-me></app-about-me>
</div>

<div id="projects" class="py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8">
   <app-projects></app-projects>
</div>

<div id="services" class="py-4 px-4 lg:px-8 my-2 md:my-4">
   <app-services></app-services>
</div>

<div id="contact" class="py-4 px-4 lg:px-8 my-2 md:my-4">
    <app-contact></app-contact>
 </div>