<div class="grid">
    <div class="col-12 md:col-8">
        <div class="card p-fluid">
            <h5>Contact</h5>
            <form [formGroup]="BusinessContactForm" (ngSubmit)="OnClickSubmitForm()">
                <div class="field grid">
                    <label htmlFor="contactName" class="col-12 mb-3 md:col-3 md:mb-0">Contact Name</label>
                    <div class="col-12 md:col-9">
                        <input pInputText id="contactName" type="text" [ngClass]="{
                                'ng-invalid ng-dirty': IsInvalid('contactName')
                            }" formControlName="contactName" />
                        <div *ngIf="IsInvalid('contactName')" class="error-message">
                            Please enter a valid contact name.
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="contactNumber" class="col-12 mb-3 md:col-3 md:mb-0">Contact Number</label>
                    <div class="col-12 md:col-9">
                        <p-inputMask mask="(999)-999-9999" id="contactNumber" placeholder="(999)-999-9999" [ngClass]="{
                                'ng-invalid ng-dirty': IsInvalid('contactNumber')
                            }" formControlName="contactNumber"></p-inputMask>

                        <div *ngIf="IsInvalid('contactNumber')" class="error-message">
                            Please enter a valid contact number.
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="emailAddress" class="col-12 mb-3 md:col-3 md:mb-0">Email Address</label>
                    <div class="col-12 md:col-9">
                        <input pInputText id="emailAddress" type="text" [ngClass]="{
                                'ng-invalid ng-dirty': IsInvalid('emailAddress')
                            }" formControlName="emailAddress" />
                        <div *ngIf="IsInvalid('emailAddress')" class="error-message">
                            Please enter a valid email address.
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-4">
                        <button pButton pRipple type="submit" [disabled]="BusinessContactForm.invalid" [label]="BusinessContactID ? 'Update' : 'Create'"></button>
                        
                    </div>
                    <div class="col-4">
                        <button pButton pRipple type="button" label="Cancel" (click)="OnClickCancelButton()" class="p-button-secondary"></button>
                    </div>
                    <div class="col-4">  <p-toast></p-toast>
                        <p-confirmPopup key="delete"></p-confirmPopup>
                        <button pButton pRipple type="button" label="Delete" (click)="OnClickDeleteButton($event)" class="p-button-danger"></button>
                    </div>
           
            </div>
            </form>
        </div>
    </div>
</div>